{{template "header"}}
    <title>首页 - beego博客</title>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          {{template "navbar" .}}
      </div>
    </div>
    <p>&nbsp;</p>
    <div class="container" role="main">
        <div class="col-md-9">
        {{range .Topics}}
        <div class="page-header">
            <h3><a href="/topic/view/{{.Id}}">{{.Title}}</a> </h3> <small>分类：{{.Category}}</small>
            <h6 class="text-muted"> 文章发表于 {{.Created}}, 共 {{.Views}} 次浏览，{{.ReplyCount}}个评论 </h6>
            <p>
                {{.Content}}
            </p>
            <h5>标签：{{.Labels}}</h5>
        </div>
        {{end}}
        </div>
        <p>&nbsp;</p>
        <div class="col-md-3">
            <h3>文章分类</h3>
            <ul>
                {{range .Categories}}
                <li><a href="/?cate={{.Title}}">{{.Title}} ({{.TopicCount}})</li>
                {{end}}
            </ul> 
        </div>
    </div>
    <script type="text/javascript" src="https://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/dist/bootstrap.min.js"></script>
</body>
</html>